[language-server.harper-ls]
command = "harper-ls"
args = ["--stdio"]

[language-server.harper-ls.config.harper-ls]
dialect = "British"

[language-server.pyright]
command = "pyright-langserver"
args = ["--stdio"]

[language-server.ruff]
command = "ruff"
args = ["server"]

[language-server.markdown-oxide]
command = "markdown-oxide"

[[language]]
name = "markdown"
soft-wrap.enable = true
language-servers = ["markdown-oxide", "harper-ls"]

[[language]]
name = "python"
language-servers = ["pyright", "ruff"]

[language-server.biome]
command = "biome"
args = ["lsp-proxy"]

[[language]]
name = "json"
language-servers = ["biome"]
